/* App.css */

/* Container for the entire app */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


/* Content styles */
.content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  transition: margin-left 0.3s ease;
  margin-left: 250px; /* Space for the sidebar */
}
.app-container .app-content {
  transition: margin-left 0.3s ease;
  padding-left: 1rem; /* No padding when the sidebar is hidden */
}

.app-container.sidebar-open .app-content {
  margin-left: 250px; /* Space for the sidebar */
  padding-left: 3rem; /* Padding to avoid content being right against the sidebar */
  padding: auto;
  padding-right: 1rem;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .sidebar {
    /* If you want the sidebar to also be always visible on small screens, 
       remove the transform here as well */
    width: 100%; /* Optional: Make sidebar full-width on small screens */
  }

  .content {
    margin-left: 0; /* Content takes full width on small screens */
  }
}
