.table-container {
  max-height: 400px; /* Adjust this value as needed */
  overflow: auto; /* Enables scrolling */
  margin-top: 40px; /* Added margin to the top of the table container */
}

.contestants-table {
  width: 100%;
  border-collapse: collapse;
}

.contestants-table th,
.contestants-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.contestants-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0; /* Keeps the header at top while scrolling */
}

.btn-back {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  z-index: 10; /* Ensures button is above other elements */
  position: relative; /* Needed for z-index to take effect */
}
